[influx2]
url=http://127.0.0.1:9122
org=-
token=username:password
timeout=6000
bucket=keenetic
[keenetic]
admin_endpoint=$KEENETIC_URL
skip_auth=false
login=$KEENETIC_LOGIN
password=$KEENETIC_PASSWORD
[collector]
interval_sec=$SCRAPE_INTERVAL
