[influx2]
url=http://127.0.0.1:9122
# For influx v1.x please use "-" as a value
org=-
# For influx v1.x please use "username:password" as a token
token=username:password
timeout=6000
# For influx v1.x DB name
bucket=keenetic
[keenetic]
admin_endpoint=$KEENETIC_URL
skip_auth=false
login=$KEENETIC_LOGIN
password=$KEENETIC_PASSWORD
[collector]
interval_sec=$SCRAPE_INTERVAL
